doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport' content='width=device-width')
        link(rel="stylesheet" href="ttps://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel='stylesheet' href='css/main.css')
        title template
body#about-us
    include header
    main.about-us
        .breadcrumbs
            .container
                ul.breadcrumbs-list
                    li.breadcrumbs-list__item
                        a.breadcrumbs-list__item-link(href="index.html") Home
                    li.breadcrumbs-list__item
                        a.breadcrumbs-list__item-link About us
        .about-us-section
            .container
                .heading UK bespoke furniture manuf
                .wrapper(class="article-content")
                    p We’ve been working in the UK’s fine furniture market for almost 5 years. We have since expanded our business beyond the UK, delivering products to Germany, Italy, Spain, France, the Netherlands, Portugal, Latvia and USA.
                    br
                    p We produce new forms and constructions using unique materials and technologies, all to make our customers’ ideas come alive – no matter how extraordinary they are. We are continuously in contact with our customers during the entire process of working on their product. At every stage of the manufacturing process we update the customer with photos of their product in order to fine tune the most important details.
                    br
                    p The wood used in our production is a living material; each wood species and even every plank has its own unique look, specific colouring and grain, as well as its own history. We use different wood types including reclaimed wood in our furniture production. Reclaimed pieces of old wood have a history behind them. Our task is to carefully preserve and enhance this story and identity.
                    br 
                    p Every day, our team is working on perfecting our standard products, creating new models and embellishing our current ones. We work only with professional and renown designers.
                    p Each of our product is unique, as it is conceived by our designer on a computer, and then called into being by the skilled craftsmen at our production facility.
                    br
                    p We provide a 1-year warranty for all of our products.
                    h2 Wood
                    p We use solid wood in oak, pine, walnut, ash and wenge, as well as solid wood veneers.
                    br
                    p All timbers are hand-selected; they are planed, sanded, and finished by staining with oil and matt varnish. Reclaimed wood may have holes from hinges, nicks, nail marks and imperfections, or remnants of the original hardware, which speak of the wood's age and provenance. Furthermore, while they plane, our expert makers discover more interesting defects and knots, encouraging creative cutting and designing.
                    div(class="image-group image-group--4")
                        img(src="img/wood-about_1.jpg")
                        img(src="img/wood-about_2.jpg")
                        img(src="img/wood-about_3.jpg")
                        img(src="img/wood-about_4.jpg")
                    h2 Metal
                    p We use mild or stainless steel metal in different tube sizes. Steel can remain raw, polished (at additional cost), or powder coated in colour of your choice. Stainless steel does not corrode or rust as ordinary steel. We can also use brass or copper on request.
                    h2 Powder coating
                    p Powder coating is a process of coating metal with a plastic finish applied in powder form and baked to a fluid state to bond it to the metal surface. Powder coating is a protective layer that offers a resilient coating to materials that need protection from corrosion. Unlike many other coating processes, powder coating is a dry coating process, which means that it is solid when applied to the base material. Most coatings are applied as liquids for adhesion purposes. Powder coating is applied dry because it is able to use electrostatics to adhere the coating material to the substrate being coated. While all are applied somewhat similarly, powder coatings can come in a variety of colors, chemical compounds, and thicknesses.
                    br
                    p Powder coating has many advantages over traditional liquid coating: It's better for the environment, applies thicker without running, and is easy to style with. This process bring metal to a rich, shiny, and smooth coat.
                    div(class="image-group image-group--4")
                        img(src="img/metal-about_1.jpg")
                        img(src="img/metal-about_2.jpg")
                        img(src="img/metal-about_3.jpg")
                        img(src="img/metal-about_4.jpg")
                    h2 Custom Made
                    p If you require a custom made order or require any of our best in line products in bulk quantities, please feel free to contact us. This is to ensure timely delivery of the products and to give you a good idea on the lead-time of the items based on the quantity. We also offer discount pricing for bulk quantities.
                    h2 Lead Times
                    p As all orders are handmade by our highly skilled manufacturers, delivery lead times are around 2-3 weeks, and begin from the day you receive your order confirmation.
                    h2 Returns
                    p We're confident that you'll be very happy with your purchase. However, if you're not completely satisfied you can return it to us within 14 days of delivery providing the item is unused, is undamaged and is in its original packaging. Please contact us for information on how to make your return.
                    br
                    p Cosywood Limited.
                    p Registered in United Kingdom.
                    p Company Number: 8992446
                    p VAT Reg. Nr. 234202552

    include footer
script(src="https://use.fontawesome.com/00ab51648d.js")
script(src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous")
script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
script(src="js/script.js")
