.banner-section
    video( class="banner-section__video" loop="loop" preload="auto" muted="true" playsinline="playsinline" id="main-video")
        source(src="img/video.mp4" type="video/mp4")
    .banner-screen__bottom
        .container
            .advantages 
                .advantages__item
                    img(src="img/world.svg")
                    p Worldwide Delivery
                .advantages__item
                    img(src="img/world.svg")
                    p 14 Days Free Return
                .advantages__item
                    img(src="img/world.svg")
                    p Bespoke Sizes 