doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport' content='width=device-width')
        link(rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css")
        link(rel='stylesheet' href='css/main.css')
        title template
body#category
    include header
    main.category
        .breadcrumbs
            .container
                ul.breadcrumbs-list
                    li.breadcrumbs-list__item
                        a.breadcrumbs-list__item-link(href="index.html") Home
                    li.breadcrumbs-list__item
                        a.breadcrumbs-list__item-link(href="catalog.html") Tables
                    li.breadcrumbs-list__item
                        a.breadcrumbs-list__item-link Dining Tables By Legs Design
        .container
            .heading Dining Tables By Legs Design
            .category-section          
                .category-section__left-column
                    form.category-filter
                        .category-filter__title FILTER
                        .category-filter__group
                            .category-filter__group-title SIZE:
                            .category-filter__group-list
                                div(class="checkbox filter-item")
                                    label(for="size-1")
                                        span.checkbox-name 6 seater 280x100x75h cm
                                            span.count (12)
                                        input( type="checkbox" id="size-1" name="size-1")
                                        span.checkmark
                                div(class="checkbox filter-item")
                                    label(for="size-2")
                                        span.checkbox-name 6/8 seater 280x100x75h cm
                                            span.count (7)
                                        input( type="checkbox" id="size-2" name="size-2")
                                        span.checkmark
                                div(class="checkbox filter-item")
                                    label(for="size-3")
                                        span.checkbox-name 8 seater 280x100x75h cm
                                            span.count (5)
                                        input( type="checkbox" id="size-3" name="size-1")
                                        span.checkmark
                                div(class="checkbox filter-item")
                                    label(for="size-4")
                                        span.checkbox-name 8/12 seater 280x100x75h cm
                                            span.count (10)
                                        input( type="checkbox" id="size-4" name="size-1")
                                        span.checkmark
                                div(class="checkbox filter-item")
                                    label(for="size-5")
                                        span.checkbox-name 12 seater 280x100x75h cm
                                            span.count (8)
                                        input( type="checkbox" id="size-5" name="size-1")
                                        span.checkmark
                        .category-filter__group
                            .category-filter__group-title Bench Option:
                            .category-filter__group-list
                                .form-group-radio
                                    div(class="radio filter-item")
                                        input(id="Bench-1" name="Bench" type="radio")
                                        label( class="radio-label" for="Bench-1")
                                            span.radio-circle
                                            span.radio-name No bench
                                    div(class="radio filter-item")
                                        input(id="Bench-2" name="Bench" type="radio")
                                        label( class="radio-label" for="Bench-2")
                                            span.radio-circle
                                            span.radio-name One bench
                                    div(class="radio filter-item")
                                        input(id="Bench-3" name="Bench" type="radio")
                                        label( class="radio-label" for="Bench-3")
                                            span.radio-circle
                                            span.radio-name Two bench
                        .category-filter__group
                            .category-filter__group-title WOOD FINISH:
                            .category-filter__group-list
                                div(class="checkbox filter-item")
                                    label(for="wood-1")
                                        span.checkbox-name Beige Pine
                                            span.count (12)
                                        input( type="checkbox" id="wood-1" name="wood-1")
                                        span.checkmark
                                div(class="checkbox filter-item")
                                    label(for="wood-2")
                                        span.checkbox-name Brown Pine
                                            span.count (7)
                                        input( type="checkbox" id="wood-2" name="wood-2")
                                        span.checkmark
                                div(class="checkbox filter-item")
                                    label(for="wood-3")
                                        span.checkbox-name Dark Grey Pine
                                            span.count (5)
                                        input( type="checkbox" id="wood-3" name="wood-3")
                                        span.checkmark
                                div(class="checkbox filter-item")
                                    label(for="wood-4")
                                        span.checkbox-name Grey Pine
                                            span.count (10)
                                        input( type="checkbox" id="wood-4" name="wood-4")
                                        span.checkmark
                        .category-filter__group(class="close")
                            .category-filter__group-title default close:
                            .category-filter__group-list(style="display: none")
                                div(class="checkbox filter-item")
                                    label(for="default-1")
                                        span.checkbox-name Beige Pine
                                            span.count (12)
                                        input( type="checkbox" id="default-1" name="default-1")
                                        span.checkmark
                                div(class="checkbox filter-item")
                                    label(for="default-2")
                                        span.checkbox-name Brown Pine
                                            span.count (7)
                                        input( type="checkbox" id="default-2" name="default-2")
                                        span.checkmark
                                div(class="checkbox filter-item")
                                    label(for="default-3")
                                        span.checkbox-name Dark Grey Pine
                                            span.count (5)
                                        input( type="checkbox" id="default-3" name="default-3")
                                        span.checkmark
                                div(class="checkbox filter-item")
                                    label(for="default-4")
                                        span.checkbox-name Grey Pine
                                            span.count (10)
                                        input( type="checkbox" id="default-4" name="default-4")
                                        span.checkmark
                        .category-filter__footer
                            div(class="btn btn--outline") Clean
                .category-section__center-column
                    .product-list
                        .product-card
                            a.product-card__image(href='product.html')
                                img.product-card__image-first(src="img/product.jpg")
                                img.product-card__image-second(src="img/product_2.jpg")
                        .product-card
                            a.product-card__image(href='product.html')
                                img.product-card__image-first(src="img/product.jpg")
                                img.product-card__image-second(src="img/product_2.jpg")
                        .product-card
                            a.product-card__image(href='product.html')
                                img.product-card__image-first(src="img/product.jpg")
                                img.product-card__image-second(src="img/product_2.jpg")
                        .product-card
                            a.product-card__image(href='product.html')
                                img.product-card__image-first(src="img/product.jpg")
                                img.product-card__image-second(src="img/product_2.jpg")
                        .product-card
                            a.product-card__image(href='product.html')
                                img.product-card__image-first(src="img/product.jpg")
                                img.product-card__image-second(src="img/product_2.jpg")
                        .product-card(class="product-card--fake")
                            .product-card__image
                            a(class="btn btn--outline") show all
                                
                    .article-content
                        h2 Bespoke Wooden Tables
                        h3 What Bespoke Tables in London Can You Find, and What Are Their Benefits?
                        p There are several categories of tables; among them, you can find:
                        ul
                            li Live edged furniture
                            li Extendable tables
                            li Industrial tables
                            li Walnut, oak, ash and solid pinewood tables
                            li Desks for work or round coffee tables, and so much more.
                        p To get the most out of our range, let's take a look at all of the models using the example of bespoke oak tables. So, what is it that you can benefit from by purchasing a bespoke oak table?
                        br
                        ol
                            li Absolute environmental safety. The wood itself is non-toxic and serves as a source of positive energy for humans.
                            li Longevity. How long will bespoke oak dining tables last? 10, 20, 30 years... Solid wood furniture has no equal durability. Tables made of wood will become a family heirloom, and if you so desire, will decorate the living room or dining area for many decades to come.
                            li Practicality. Elite types of furniture do not require special care. You don't have to worry about the tabletop if the surface is flooded with liquids. It will not change the external characteristics of the item. All you have to do is wipe the table with a sponge and a cloth after a meal.
                        
            
    include footer
script(src="https://use.fontawesome.com/00ab51648d.js")
script(src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous")
script(src="https://unpkg.com/swiper/js/swiper.min.js")
script(src="js/script.js")