doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport' content='width=device-width')
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />

        link(rel="stylesheet" href="css/assets/swiper.min.css")
        link(rel='stylesheet' href='css/main.css')
        title template
body#index
    include header
    main.index
        include banner
        include main
    include footer


script(src="https://use.fontawesome.com/00ab51648d.js")
script(src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous")
script(src="js/assets/swiper.min.js")
script(src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js")

script(src="js/script.js")



