

.left-column
.center-column
    .entry-points
        .container
            .title
                p.title__main BESPOKE WOODEN TABLES AND CLOTHES RACKS IN LONDON
    .entry-points__container
        a.entry-point
            .entry-point__image
                img
            .entry-point__title(data-button-text="choose") DINING TABLES
        a.entry-point
            .entry-point__image
                img
            .entry-point__title(data-button-text="choose") choose your table top
        a.entry-point
            .entry-point__image
                img
            .entry-point__title(data-button-text="choose") CONVENIENT STORAGE SOLUTIONs
        a.entry-point 
            .entry-point__image
                img
            .entry-point__title(data-button-text="choose") OVER 1000 CLOTHES RAILS VARIATIONS
    .catalog-section
        .container
            .title
                .title__additional catalog
                .title__main new product
        div(class="slider slider-product")
            .container
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            .product-card
                                a.product-card__image
                                    img.product-card__image-first(src="img/product.jpg")
                                    img.product-card__image-second(src="img/product_2.jpg")
                                    .product-card__tag sale
                                .product-card__title
                                    a.product-card__name Folly Ash
                                    a.product-card__rating
                                        i(class="fa fa-star" aria-hidden="true")
                                        span 5
                                        span.product-card__rating-reviews (12 rev)
                                a.product-card__price
                                        strong from £580.00
                                        span.old-price £645.00
                        .swiper-slide
                            .product-card
                                a.product-card__image
                                    img.product-card__image-first(src="img/product.jpg")
                                    img.product-card__image-second(src="img/product_2.jpg")
                                    .product-card__tag sale
                                .product-card__title
                                    a.product-card__name Folly Ash
                                    a.product-card__rating
                                        i(class="fa fa-star" aria-hidden="true")
                                        span 5
                                        span.product-card__rating-reviews (12 rev)
                                a.product-card__price
                                        strong from £580.00
                                        span.old-price £645.00
                        .swiper-slide
                            .product-card
                                a.product-card__image
                                    img.product-card__image-first(src="img/product.jpg")
                                    img.product-card__image-second(src="img/product_2.jpg")
                                    .product-card__tag sale
                                .product-card__title
                                    a.product-card__name Folly Ash
                                    a.product-card__rating
                                        i(class="fa fa-star" aria-hidden="true")
                                        span 5
                                        span.product-card__rating-reviews (12 rev)
                                a.product-card__price
                                        strong from £580.00
                                        span.old-price £645.00
                        .swiper-slide
                            .product-card
                                a.product-card__image
                                    img.product-card__image-first(src="img/product.jpg")
                                    img.product-card__image-second(src="img/product_2.jpg")
                                    .product-card__tag sale
                                .product-card__title
                                    a.product-card__name Folly Ash
                                    a.product-card__rating
                                        i(class="fa fa-star" aria-hidden="true")
                                        span 5
                                        span.product-card__rating-reviews (12 rev)
                                a.product-card__price
                                        strong from £580.00
                                        span.old-price £645.00
                        .swiper-slide
                            .product-card
                                a.product-card__image
                                    img.product-card__image-first(src="img/product.jpg")
                                    img.product-card__image-second(src="img/product_2.jpg")
                                    .product-card__tag sale
                                .product-card__title
                                    a.product-card__name Folly Ash
                                    a.product-card__rating
                                        i(class="fa fa-star" aria-hidden="true")
                                        span 5
                                        span.product-card__rating-reviews (12 rev)
                                a.product-card__price
                                        strong from £580.00
                                        span.old-price £645.00
                        .swiper-slide
                            .product-card
                                a.product-card__image
                                    img.product-card__image-first(src="img/product.jpg")
                                    img.product-card__image-second(src="img/product_2.jpg")
                                    .product-card__tag sale
                                .product-card__title
                                    a.product-card__name Folly Ash
                                    a.product-card__rating
                                        i(class="fa fa-star" aria-hidden="true")
                                        span 5
                                        span.product-card__rating-reviews (12 rev)
                                a.product-card__price
                                        strong from £580.00
                                        span.old-price £645.00
                        .swiper-slide
                            .product-card
                                a.product-card__image
                                    img.product-card__image-first(src="img/product.jpg")
                                    img.product-card__image-second(src="img/product_2.jpg")
                                    .product-card__tag sale
                                .product-card__title
                                    a.product-card__name Folly Ash
                                    a.product-card__rating
                                        i(class="fa fa-star" aria-hidden="true")
                                        span 5
                                        span.product-card__rating-reviews (12 rev)
                                a.product-card__price
                                        strong from £580.00
                                        span.old-price £645.00
                        .swiper-slide
                            .product-card
                                a.product-card__image
                                    img.product-card__image-first(src="img/product.jpg")
                                    img.product-card__image-second(src="img/product_2.jpg")
                                    .product-card__tag sale
                                .product-card__title
                                    a.product-card__name Folly Ash
                                    a.product-card__rating
                                        i(class="fa fa-star" aria-hidden="true")
                                        span 5
                                        span.product-card__rating-reviews (12 rev)
                                a.product-card__price
                                        strong from £580.00
                                        span.old-price £645.00
                        .swiper-slide
                            .product-card
                                a.product-card__image
                                    img.product-card__image-first(src="img/product.jpg")
                                    img.product-card__image-second(src="img/product_2.jpg")
                                    .product-card__tag sale
                                .product-card__title
                                    a.product-card__name Folly Ash
                                    a.product-card__rating
                                        i(class="fa fa-star" aria-hidden="true")
                                        span 5
                                        span.product-card__rating-reviews (12 rev)
                                a.product-card__price
                                        strong from £580.00
                                        span.old-price £645.00
                        .swiper-slide
                            .product-card
                                a.product-card__image
                                    img.product-card__image-first(src="img/product.jpg")
                                    img.product-card__image-second(src="img/product_2.jpg")
                                    .product-card__tag sale
                                .product-card__title
                                    a.product-card__name Folly Ash
                                    a.product-card__rating
                                        i(class="fa fa-star" aria-hidden="true")
                                        span 5
                                        span.product-card__rating-reviews (12 rev)
                                a.product-card__price
                                        strong from £580.00
                                        span.old-price £645.00
                                    
                .swiper-pagination
                .swiper-button-prev
                .swiper-button-next
    .entry-points
        .entry-points__container
            a.entry-point
                .entry-point__image
                    img
                .entry-point__title(data-button-text="choose") DINING TABLES
            a.entry-point
                .entry-point__image
                    img
                .entry-point__title(data-button-text="choose") choose your table top
    .tabs-section
        .container
            .title
                .title_main order process
            div(class="tabs order-process__tab")
                div(tab-button btn-switch active) standart order
                div(tab-button btn-switch) bespoke product
            div(tabs-content active)
            .tabs-content
.right-column
