.left-column
.center-column
    .entry-points
        .container
            .title
                p.title__main BESPOKE WOODEN TABLES AND CLOTHES RACKS IN LONDON
    .entry-points__container
        a.entry-point
            .entry-point__image
                img
            .entry-point__title(data-button-text="choose") DINING TABLES
        a.entry-point
            .entry-point__image
                img
            .entry-point__title(data-button-text="choose") choose your table top
        a.entry-point
            .entry-point__image
                img
            .entry-point__title(data-button-text="choose") CONVENIENT STORAGE SOLUTIONs
        a.entry-point 
            .entry-point__image
                img
            .entry-point__title(data-button-text="choose") OVER 1000 CLOTHES RAILS VARIATIONS
    .catalog-section
        .container
            .title
                .title__additional catalog
                .title__main new product
        div(class="slider slider-product")
            .container
                .swiper-container
                    .swiper-wrapper
                        - for (var x = 0; x < 12; x++) 
                            .swiper-slide
                                .product-card
                                    a.product-card__image
                                        img.product-card__image-first(src="img/product.jpg")
                                        img.product-card__image-second(src="img/product_2.jpg")
                                        .product-card__tag sale
                                    .product-card__title
                                        a.product-card__name Folly Ash
                                        a.product-card__rating
                                            i(class="fa fa-star" aria-hidden="true")
                                            span 5
                                            span.product-card__rating-reviews (12 rev)
                                    a.product-card__price
                                            strong from £580.00
                                            span.old-price £645.00  
                                    
                .swiper-pagination
                .swiper-button-prev
                .swiper-button-next
    .entry-points
        .entry-points__container
            a.entry-point
                .entry-point__image
                    img
                .entry-point__title(data-button-text="choose") DINING TABLES
            a.entry-point
                .entry-point__image
                    img
                .entry-point__title(data-button-text="choose") choose your table top
    .tabs-section
        .container
            .title
                .title_main order process
            div(class="tabs order-process__tab")
                .tabs-caption
                    div(class="tab-button btn-switch active" ) standart order
                    div(class="tab-button btn-switch"  ) bespoke product
            div(class="tabs-content active")              
                ul.tabs-content__group
                    - for (var x = 0; x < 5; x++)   
                        li.tabs-item
                            .tabs-item__icon
                                img(src="img/process.svg", alt="Choose preferred standard item or bespoke size")
                            .tabs-item__text Choose preferred standard item or bespoke size
            div(class="tabs-content")               
                ul.tabs-content__group
                    - for (var x = 0; x < 5; x++)
                        li.tabs-item
                            .tabs-item__icon
                                img(src="img/process_2.svg", alt="Choose preferred standard item or bespoke size")
                            .tabs-item__text Choose preferred standard item or bespoke size
    .gallery-section
        .slider
            .container
                .swiper-container
                    .swiper-wrapper
                        - for (var x = 0; x < 3; x++)
                            .swiper-slide
                                .gallery-card
                                    .gallery-card__image
                                        img(src="img/gallery-card.jpg")
                                    .gallery-card__body
                                        .gallery-card__content
                                            div(class="title gallery-card__title")
                                                .title__additional gallery
                                                .title__main A Tailor-made Solution for a Bespoke Tailoring Studio
                                            .gallery-card__text
                                                p We were asked to design and fabricate a set of multi-level storage units and round fitting room pole by the Artefact London, a Bespoke Tailoring Studio at New Bond Street, 75.
                                                br
                                                p Each piece of furniture was supposed to have specific dimensions, to be a combination of certain shelves and drawers of solid wood, and metallic tubes of different height.
                                                br
                                                p The task was complicated by providing a perfect matching of colour with that of already existing furniture and interior elements.
                                                a.gallery-card__button See more
                .swiper-pagination
                .swiper-button-prev
                .swiper-button-next
    .reviews-section
        .container
            .title
                .title__additional Reviews
                .title__main Happy clients
        .slider
            .container
                .swiper-container
                    .swiper-wrapper
                        - for (var x = 0; x < 3; x++)
                            .swiper-slide
                                .review-card
                                    .review-card__head
                                        .review-card__author
                                            img(src="img/avatar.jpg")
                                            span Jess
                                        div(class="review-card__rating rating")
                                            .rating__value 5.0
                                            .rating__stars
                                                i(class="fa fa-star" aria-hidden="true")
                                                i(class="fa fa-star" aria-hidden="true")
                                                i(class="fa fa-star" aria-hidden="true")
                                                i(class="fa fa-star" aria-hidden="true")
                                                i(class="fa fa-star" aria-hidden="true")
                                    .review-card__body
                                        .review-card__text
                                            p Brilliant piece of furniture. Great workmanship. Dealing with them over email was quick and easy and they are very happy to make anything bespoke. Delivery was easy and well protected. Highly recommended.
                                            .review-card__date 08 Jan 2019
                                        .review-card__source
                                            img(src="img/review-logo-1.svg")
                                            a go to source
                .swiper-pagination
                .swiper-button-prev
                .swiper-button-next
        .reviews-section__buttons
            a(class="btn btn--outline") All reviews
            a(class="btn btn--fill") Add new
    .clients-section
        .container
            .title
                .title__additional OUR CLIENTS
            .clients
                - for (x = 0; x < 13; x++)
                    .clients__item
                        img(src="img/client.png")
.right-column
