doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport' content='width=device-width')
        link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel='stylesheet' href='css/main.css')
        title template
body#work-with-us-section
    include header
    .image-banner
        img(src="img/work-with-us.jpg")
    .breadcrumbs
            .container
                ul.breadcrumbs-list
                    li.breadcrumbs-list__item
                        a.breadcrumbs-list__item-link(href="index.html") Home
                    li.breadcrumbs-list__item
                        a.breadcrumbs-list__item-link(href="") Work with us
    main.work-with-us-section
        .container
            .heading Work with us
        .article-content
            .container
                .wrapper
                    p We are proud of the hard-earned reputation we have gained, working with the world’s top interior designers on high profile bespoke commercial projects as well as having our own furniture collection for over five years. Among our clients are restaurants and bars, hotels, Institutions and public buildings, real-estate developers, showrooms and clothes shops, our furniture can be finding in offices in the UK and around the world. 
                    .image-and-text
                        .image-and-text__image(class="image-and-text__child")
                            img(src="img/our-beliefs.jpg")
                        .image-and-text__text(class="image-and-text__child")
                            h2 Our beliefs
                            p Behind every piece of furniture that we make lies considered design, selection of the best quality materials and skilled craftsmanship. We are well known for our can-do attitude and design resolution skills.  We love the challenge of a technically complex project where we can utilise our creative skills and develop innovative solutions. We can custom build a premium quality table just the way you want it, on demand. Our designs allow us to combine the best natural and man-made materials to ensure every table maintains it’s original strength and beauty forever.
                    h2 Services
                    p Our in-house design team will work with you to develop your designs from initial briefs and sketch proposals through to full 3D modeling. They will coordinate & plan the seamless delivery of your project. Below you can find list of services. We are always happy to offer advice on the most appropriate materials and finishes for your project.  But we can also provide bespoke options to suit your scheme.
            .image-and-text
                .image-and-text__image(class="image-and-text__child")
                    img(src="img/wood.jpg")
                .image-and-text__text(class="image-and-text__child")
                    h2 Wood
                    p  We are renowned for our deep knowledge of wood but our expertise doesn’t end there. We  use solid wood in oak, pine, walnut, ash and wenge, as well as solid wood veneers. All timbers are hand selected , they are planed, sanded and finished by staining with oil and matt varnish. Reclimed wood may have holes from hinges, nicks, nail marks and imperfections, or remnants of the original hardware, which speak of the wood`s age and provenance           
            .image-and-text
                .image-and-text__text(class="image-and-text__child")
                    h2 Metal
                    p  We use mild or stainless steel metal in different tube sizes. Steel can remain raw, polished at additional cost or power coated in colour of your choice. Stainless steel does not corrode or rust as ordinary steel. We can also use brass or copper on request.   
                .image-and-text__image(class="image-and-text__child")
                    img(src="img/metal.jpg")
            .container
                .wrapper
                    h2 Our clients
                    .couple-box
                        .couple-box__item
                            img(src="img/some-icon-1.svg", alt="")
                            .couple-box__item-title Companies:
                            p Fluidic Analytics Limited, Brown & Green Cafe, Hangman Film Production, Omnifarious group, Sullivan Street, Bearded Kitten, Hook Restaurant, Numiko, Digital Allies, Bentleys Bar, ART DEPT TV, JJCFinTech, Triumph, Deloitte, WHAM tm, Imperial College Union, London Stone, Lendlease, Atefact London Ltd, Steel & Jelly, Zest Marketing, Maidenway, Aurora Lighting Group.
                        .couple-box__item 
                            img(src="img/some-icon-2.svg", alt="")
                            .couple-box__item-title Designer Studios: 
                            p Stephen Kavanagh Architects, WhiteBox Architecture, Fiona Duke Interiors, Gpstudio, Espaisroca, Furnish Interior/Architectural Design, JN Interior Design, Onyx London, Timothy James Interiors Ltd, Maple People, Monster Orphanage, Trend and Fayre, Aurora Lightening, Katie J White, Fabrica Architecture.   
            .text-in-picture(style="background-image:url(img/picture-1.jpg)")
                .wrapper
                    .text-in-picture__inner
                        h2 Collaboration for designers
                        p We offer collaboration for designers. We appreciate your design work and would like to invite you to co-create new projects with us. We always offer to provide on-site measuring of the space where our furniture will be placed. We provide 3D layouts and furniture sketches to solidify our collaboration. We can communicate with you, or with the end customer, whichever is your preference. We offer standard and bespoke furniture, manufactured with your specific materials, dimensions and colour needs in mind. All of our products are manufactured to carefully follow the agreed upon designs, and we then deliver your item to you.

            .container
                .wrapper
                    p If you are interested in working with us we would be happy to provide samples of our materials along with a price list for the range of products available on our website. We will also provide our terms and conditions related to our collaboration.
                    .button-container
                        a(class="btn btn--fill" href="contacts.html") CONTACT US

    include footer


script(src="https://use.fontawesome.com/00ab51648d.js")
script(src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous")
script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
script(src="js/script.js")



