@import "_variables.scss";

.category-section {
    width: 100%;
    display: flex;
    &__left-column {
        flex: 0 0 25%;
    }
    &__center-column {
        flex: 0 0 75%;
   }
}


.filter-item {
    position: relative;
}

#category .heading {
    padding-left: 25%;
    padding-bottom: 50px;
}

.category-filter {
    background: #fff;
    padding: 30px 20px; 
    margin-right: 20px;
    &__title {

        font-weight: 500;
        font-size: 22px;
        text-transform: uppercase;
        color: #52595b;
        padding-bottom: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__group {
        border-bottom: 1px solid #b7c1c4;
    }
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    padding-bottom: 60px;
}

.product-card {
    width: calc(25% - 20px);
   
    @include minw($md) {
        width: calc(33.33% - 20px);
        margin: 0 10px 40px;    
    }
}


.category-filter__group-title {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: #231f20;
    padding: 20px 0;
    cursor: pointer;
    position: relative;
    &::after {
        
            content: "";
            width: 12px;
            height: 8px;
            background-color: inherit;
            background-image: url(../img/arrow_down.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            transition: .3s;
            display: block;
            transform-origin: center;
        
    }
}

.category-filter__group.close .category-filter__group-title::after {
    transform: translateY(-50%) scale(-1);
}

.checkbox label:not(.error) .checkbox-name {
    height: 100%;
    vertical-align: middle;
    line-height: 18px;
    color: #303030;
}


.checkbox .count {
    color: #b7c1c4;
    padding-left: 5px;
}

.checkbox label:not(.error) {
    display: block;
    position: relative;
    padding-left: 26px;
    height: 18px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 16px;
    color: #52595b;
}


.checkbox label:not(.error) input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


.checkbox label:not(.error) .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    width: 1em;
    height: 1em;
    border-radius: 2px;
    background: #fff;
    border: 1px solid #52595b;
    transition: .2s;
}
.checkbox label:not(.error) input:checked~.checkmark {
    background-color: #52595b;
    border-color: #52595b;
}
 .checkmark:after {
    content: "";
    position: absolute;
    left: .3em;
    top: .1em;
    width: .3em;
    height: .5em;
    border: solid #fff;
    border-width: 0 .1em .1em 0;
    transform: rotate(45deg);
}

input:checked ~ .checkmark:after {
    display: block;
}

.form-group-radio .radio input[type=radio]:checked+.radio-label .radio-circle {
    background: #52595b;
}

.form-group-radio .radio input[type=radio]+.radio-label .radio-name {
    vertical-align: middle;
    padding-left: 5px;
}

.form-group-radio  {
    .radio {
        display: block;
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 15px;
        input[type=radio] {
            position: absolute;
            opacity: 0;
            + .radio-label {
				user-select: none;
				cursor: pointer;
				vertical-align: middle;
                display: inline-block;
                width: 100%;
                .radio-circle {
                    width: 25px;
                    height: 25px;
                    display: inline-block;
                    border-radius: 50%;
                    position: relative;
                    transition: .2s;
                    vertical-align: middle;
                    border: 1px solid #52595b;
                    &::after{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        content: "";
                        width: 8.75px;
                        height: 8.75px;
                        background: #fff;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}






.article-content {
    h2 {
        font-size: 22px;
        margin-top: 50px;   
    }

    h2, h3 {
        font-weight: 500;
        line-height: 1.3;
        margin-bottom: 30px;
        text-align: center;
        text-transform: uppercase;
        color: #52595b;

    }

    p {
        font-family: 'Nunito Sans',sans-serif;
        color: #52595b;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.6;
    }

    ul, ol {
        margin-left: 1.2em;
        font-family: 'Nunito Sans',sans-serif;
        font-size: 16px;
        line-height: 1.7;
        color: #52595b;
        margin-bottom: 1em;
    }


    ul {
        list-style-type: disc;
    }

     ol {
        list-style-type: decimal;
    }
}

.category-filter__footer {
    margin-top: 20px;
    .btn {
        z-index: 1;
        width: 100%;
    }
}

.btn--outline {
    color: #52595b;
    border: 1px solid #52595b;
    &::before {
        position: absolute;
        content: "";
        width: 0%;
        height: 100%;
        background: #52595b;
        top: 0;
        left: auto;
        right: 0;
        z-index: -1;
        transition: .3s;
    }
}