#footer {
    padding-top: 70px;
    background: #fff;
}

.footer-top {
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;
    justify-content: space-between;
    @include w($sm) {
        flex-direction: column;
    }
}

.footer-top__center-column {
    display: flex;
    flex: 0 0 65%;
}

.company-info,
.footer-menu,
.more-information,
.contact-us {
    &__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        text-transform: uppercase;
        color: #231f20;
        margin-bottom: 30px;
        @include w($sm) {
            margin-bottom: 10px;
        }
    }
    &__content p {
        font-family: 'Nunito Sans',sans-serif;
        font-size: 16px;
        line-height: 160%;
        color: #52595b;
    }
    &__social {
        margin-top: 30px;
        margin-left: -20px;
        display: flex;
        a {
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #52595b;
            i {
                font-size: 25px;
            }
        }
        @include w($sm) {
            margin-top: 0;
        }
    }
}


.footer-menu,
.more-information,
.contact-us {
    margin-right: 80px;
    &__content {
        ul {
            font-size: 16px;
            li {
                margin-bottom: 1em;
                @include w($sm) {
                    margin-bottom: 0;
                }
                a {
                    font-weight: 500;
                    line-height: 160%;
                    color: #52595b;
                }
                a:not([class]) {
                    text-transform: uppercase;
                }
                i {
                    font-size: 20px;
                }
                span {
                    margin-left: 10px;
                }
            }
        }
    }   
    @include w($sm) {
        margin-right: 0;
        margin: 10px 0;
    }
}



.footer-bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 35px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #b7c1c4;
    justify-content: space-between;
    &__pay ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @include w($sm) {
            justify-content: center;
        }
    }
    &__pay {
        li {
            margin: 0 15px;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            @include w($sm) {         
               margin: 0 6px;
            }
        img {
            max-height: 25px;
            @include w($sm) {         
                max-height: 16px;
            }
        }
        
    } 
    @include w(1400px) {
        width: 100%;
        order: -1;
        padding-bottom: 25px;
    }
     
    }
    
    &__dev {
        text-align: center;   
    } 
    &__copy {
        width: 33%;
        @include w($sm) {         
            width: 100%;
            text-align: center;
        }
    }

    @include w($sm) {
        flex-direction: column;
    }
}

@media (max-width: 1199.98px) {
    .footer-menu  {
      display: none;
    }

    .footer-top__center-column {
    
        flex: 0 0 40%;
    }
    
  }
  